{% extends "travel/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1>Travel: Post #{{ post.pk }}</h1>

    <h2>{{ post.title }}</h2>

    {% if post.photo %}
        <div>
            <img src="{{ post.photo.url }}" style="max-width: 100%;" />
        </div>
    {% endif %}

    {{ post.content }}

    <hr/>

    <form action="{% url 'travel:comment_new' post.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />
    </form>

    <ul>
    {% for comment in post.comment_set.all %}
        <li>
            {{ comment.message }}
            by {{ comment.author }}
            at {{ comment.created_at }}

            {% if comment.author == user %}
                <a href="{% url 'travel:comment_edit' post.pk comment.pk %}">
                    Edit
                </a>
                <a href="{% url 'travel:comment_delete' post.pk comment.pk %}" class="text-danger">
                    Delete
                </a>
            {% endif %}
            
        </li>
    {% endfor %}
    </ul>

    <hr/>

    <a href="{% url 'travel:comment_new' post.pk %}">
        댓글 쓰기
    </a>

    <a href="{% url 'travel:post_list' %}">
        목록으로
    </a>
{% endblock %}