{% extends "travel/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="card">
        {% if post.photo %}
            <img src="{{ post.photo.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
                {{ post.content|linebreaks }}
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'travel:post_list' %}" class="btn btn-sm btn-secondary">목록</a>
            <a href="{% url 'travel:post_edit' post.pk %}" class="btn btn-sm btn-primary">수정</a>
            <a href="#" class="btn btn-sm btn-danger">삭제</a>
        </div>
    </div>

    <div class="mb-3">
        <form action="{% url 'travel:comment_new' post.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />
        </form>
    </div>

    <a href="#" class="btn btn-success btn-block mb-3">새로고침</a>  {# TODO: 구현 #}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Message</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Control</th>
            </tr>
        </thead>
        <tbody id="comment_list"></tbody>
    </table>

{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            $.get("{% url 'travel:comment_list' post.pk %}").done(function(resp) {
                //$("#comment_list").html(resp);
                //console.log(resp);

                var comment_list = resp;
                 $.each(comment_list, function(index, comment) {
                    var html = "<tr><td>" + comment.message + "</td></tr>";
                    $('#comment_list').append(html);
                })
                // $("#comment_list").html(resp);

            });
            
            // 문서가 준비되었을 때 호출
            $('.comment-delete-btn').click(function() {
                var url = $(this).attr('href');
                console.log("url :", url);
                var target_id = $(this).data('target-id');
                if ( confirm("Are you sure?") ) {
                    // TODO: comment_delete 뷰에 POST 요청 보내기
                    $.post(url).done(function() {
                        $('#' + target_id).remove();
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}